.btn {
  background-color: var(--LightGreen) !important;
  color: var(--DarkGreen) !important;
  border: 2px var(--DarkGreen) !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px !important;
}

.btn:hover {
  background-color: var(--Icons) !important;
  color: var(--Beige) !important;
}
