* {
  background-color: var(--Background);
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --Background: #f1fffa;
  --BodyText: #7a918d;
  --Icons: #68b0ab;
  --DarkGreen: #4a7c59;
  --Turquoise: #68b0ab;
  --MintGreen: #8fc0a9;
  --LightGreen: #c8d5b9;
  --Beige: #faf3dd;
}

p {
  font-size: 1.2rem;
  padding-left: 60px;
  padding-right: 60px;
  color: var(--BodyText);
}

h2 {
  color: var(--Turquoise);
}
